.card {
  display: grid;
  gap: 14px;
  min-height: 117px;
  border-bottom: 1px solid @special_grey-5;
  margin: 0;
  padding-top: 13px;
  padding-bottom: 19px;
}

.card__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0;
}

.card__text {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.card__text-name {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 14px;
  margin: 0;
}

.card__text-price {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 14px;
  margin: 0;
}
