.card {
  display: grid;
  gap: 14px;
  min-height: 117px;
  box-sizing: border-box;
  border-top: 1px solid @special-grey-4;
  margin: 0;
  padding-top: 12px;
  padding-bottom: 19px;

  @media (min-width: @tablet) {
    min-height: 139px;
    gap: 23px;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: baseline;
    padding: 25px 38px;
    border: 1px solid @special-grey;
    border-bottom: none;
  }

  @media (min-width: @desktop) {
    min-height: 72px;
    grid-template-columns: 325px 326px 245px;
    gap: 0;
    border: none;
    border-bottom: 1px solid @special-grey-5;
    padding: 0;
    align-items: center;

    &:first-child {
      border-top: 1px solid @special-grey-5;
    }
  }

  &:last-child {
    border-bottom: 1px solid @special-grey-5;

    @media (min-width: @tablet) {
      border-bottom: 1px solid @special-grey;
    }
  }
}

.card__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: @tablet) {
    font-size: 20px;
    line-height: 20px;
  }
}

.card__text {
  display: flex;
  justify-content: space-between;
  margin: 0;

  @media (min-width: @tablet) {
    // margin-top: 5px;
    gap: 50px;
  }

  @media (min-width: @desktop) {
    display: grid;
    gap: 0;
    grid-template-columns: 244px 82px;
  }
}

.card__text-name {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 14px;
  margin: 0;

  @media (min-width: @tablet) {
    font-size: 16px;
    line-height: 20px;
  }
}

.card__text-price {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 14px;
  margin: 0;

  @media (min-width: @tablet) {
    font-size: 16px;
    line-height: 20px;
  }
}

.card__button {
  width: 100%;

  @media (min-width: @tablet) {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  @media (min-width: @desktop) {
    width: 245px;
    height: 40px;
    box-sizing: border-box;
    grid-column: auto;
  }
}
