.catalog-further {
  margin: 0 auto;
}

.catalog-further__wrapper {
  margin: 0 auto;
  padding: @mobile-padding;

  @media (min-width: @tablet) {
    padding: @tablet-padding;
  }

  @media (min-width: @desktop) {
    width: @desktop-content;
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
}

.catalog-further__title-wrapper {
  .title-with-line-wrapper;
}

.catalog-further__title {
  .title-with-line;
  line-height: 24px;
  margin-top: 25px;
  margin-bottom: 36px;

  @media (min-width: @tablet) {
    margin-top: 68px;
    margin-bottom: 80px;
  }

  @media (min-width: @desktop) {
    background-image: linear-gradient(to right, @basic_white 0, @basic_white 413px, transparent 413px, transparent 100%);
  }
}

.catalog-further__list {
  @media (min-width: @desktop) {
    width: 896px;
  }
}
