.copyright {
  width: 100%;
  padding: 20px 0 20px 0;

  @media (min-width: @tablet) {
    width: auto;
    padding: 0;
  }
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;

  @media (min-width: @tablet) {
    justify-content: flex-end;
    gap: 22px;
  }

  @media (min-width: @desktop-content) {
    &:hover svg {
      fill: @basic-green;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.copyright__title {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: @special-dark-grey;
  margin: 0;
}
