.example {
  background-color: @special_grey-5;

  &__information-wrapper {
    padding: 0 20px 0 20px;
  }

  &__title {
    font-size: 36px;
    line-height: 40px;
    margin: 0;
    font-weight: normal;
  }

  &__text {
    margin: 0;
    font-size: 14px;
    line-height: 18px;
    color: @special_dark-grey;
  }

  &__result {
    text-align: center;
  }

  &__slider {
    margin: 0;
  }

  &__slide--after {
    display: none;
  }
}

.specification-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.specification-item {
  margin: 0;
  width: 124px;
  text-align: center;
}
