.example {
  background-color: @special_grey-5;
  margin: 0;
  margin-top: 42px;

  &__information-wrapper {
    padding: 27px 20px 0 20px;
  }

  &__title {
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    margin: 0;
  }

  &__text {
    font-family: "Arial", "Helvetica", sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: @special_dark-grey;
    margin: 0;
    margin-top: 33px;
  }

  &__result {
    text-align: center;
    margin: 0;
    margin-top: 27px;
  }

  &__slider {
    margin: 0;
    margin-top: 42px;
  }

  &__slide--after {
    display: none;
  }

  &__slider-buttons {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 2px;
    padding-bottom: 25px;
    margin: 0;
    margin-top: 23px;
  }

  &__slider-toggle {
    width: 84px;
    height: 14px;
    border: 1px solid @special_grey;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: @basic_white;
    margin: 0;
    padding: 3px 6px 3px 6px;
  }

  &__slider-handle {
    width: 35px;
    height: 6px;
    background-color: @basic_green;
    border-radius: 6px;

    &--before {
      margin-right: auto;
      margin-left: 0;
    }

    &--after {
      margin-right: 0;
      margin-left: auto;
    }
  }

  &__slider-button {
    width: 70px;
    height: 40px;
    font-size: 16px;
    line-height: 20px;
    background-color: transparent;
    border: none;
  }

  &__specification-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 25px;
  }

  &__specification-item {
    width: 124px;
    text-align: center;
    margin: 0;
  }

  &__specification-value {
    font-size: 24px;
    line-height: 24px;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid @special_grey;
    margin: 0;
    padding: 15px 0 18px 0;
  }

  &__specification-name {
    width: 87px;
    z-index: 2;
    font-family: "Arial", "Helvetica", sans-serif;
    font-size: 12px;
    line-height: 12px;
    color: @special_dark-grey;
    margin: -10px auto 0 auto;
    background-color: @special_grey-5;
  }
}

