.form {
  margin: 0;

  &__text {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    margin: 0;

    &--hint {
      padding: 0 20px 0 20px;
      margin-top: 37px;
    }

    &--footnote {
      font-family: "Arial", "Helvetica", sans-serif;
      line-height: 16px;
      text-align: center;
      margin-top: 21px;
    }
  }

  &__list {
    margin: 0;
    padding: 0 20px 0 20px;
    list-style: none;
  }

  &__label {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: @special_dark-grey;
  }

  &__subtitle {
    margin: 0;
    font-size: 24px;
    line-height: 26px;
  }
}
