.form {
  margin: 0;
}

.form__text {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0 auto;

  @media (min-width: @tablet) {
    font-size: 20px;
    line-height: 30px;
  }

  &--hint {
    padding: @mobile-padding;
    margin-bottom: 39px;

    @media (min-width: @tablet) {
      margin-top: 54px;
      padding: @tablet-form-padding;
    }

    @media (min-width: @desktop) {
      width: @desktop-content;
      padding: 0;
    }
  }

  &--footnote {
    font-family: "Arial", "Helvetica", sans-serif;
    line-height: 16px;
    text-transform: none;
    text-align: center;
    margin-top: 21px;

    @media (min-width: @tablet) {
      margin: auto 0;
      font-size: 16px;
      text-align: start;
    }
  }
}

.form__list {
  margin: 0 auto;
  margin-bottom: 26px;
  padding: @mobile-padding;
  list-style: none;
  box-sizing: border-box;

  @media (min-width: @tablet) {
    padding: @tablet-form-padding;
  }

  @media (min-width: @desktop) {
    padding: 0;
    margin-bottom: 65px;
  }

  &--questionnaire {
    @media (min-width: @desktop) {
      margin: 0;
    }
  }

  &--radio {
    border-top: 1px solid @special_grey-6;
    border-bottom: 1px solid @special_grey-6;
    padding: 25px 65px;

    @media (min-width: @tablet) {
      margin: @tablet-form-padding;
      margin-bottom: 65px;
      border: 1px solid @special_grey-7;
      padding: 30px 88px;
    }

    @media (min-width: @desktop) {
      margin: 0;
    }
  }

  &--contacts {
    margin-top: 35px;

    @media (min-width: @tablet) {
      margin-top: 76px;
    }

    @media (min-width: @desktop) {
      width: @desktop-content;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 80px;
      align-items: baseline;
    }
  }

  &--optional {
    margin-top: 34px;
    margin-bottom: 34px;

    @media (min-width: @tablet) {
      display: grid;
      gap: 60px;
      grid-template-columns: 1fr 1fr;
      row-gap: 32px;
      margin-top: 57px;
      margin-bottom: 54px;
    }

    @media (min-width: @desktop) {
      width: @desktop-content;
      gap: 80px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}

.form__item {
  display: flex;
  align-items: baseline;
  margin-top: 13px;
  position: relative;

  &--radio,
  &--optional {
    margin-top: 25px;
  }

  @media (min-width: @tablet) {
    margin-top: 20px;
  }

  &--optional {
    @media (min-width: @tablet) {
      margin: 0;
    }
  }

  &:first-child {
    margin-top: 0;
  }
}

.form__questionnaire-wrapper {
  @media (min-width: @desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    width: @desktop-content;
    margin: 0 auto;
    margin-bottom: 65px;
  }
}

.form__label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @special_dark-grey;
  margin-right: 10px;
  white-space: nowrap;
  position: relative;

  @media (min-width: @tablet) {
    font-size: 20px;
    line-height: 30px;
  }

  &--radio {
    margin: 0;
  }

  &--checkbox {
    margin-left: 44px;
    margin-right: 0;

    @media (min-width: @tablet) {
      margin-left: 59px;
    }
  }
}

.form__checkbox-input + label::before {
  content: "";
  position: absolute;
  left: -44px;
  top: -5px;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid @special_grey;

  @media (min-width: @tablet) {
    width: 40px;
    height: 40px;
    left: -59px;
  }
}

.form__checkbox-input:checked + label::after {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  left: -42px;
  top: -2px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (min-width: @tablet) {
    left: -53px;
    top: 4px;
  }
}

.form__radio-input:hover + label::before,
.form__checkbox-input:hover + label::before {
  @media (min-width: @desktop) {
    border-color: @special_grey-9;
  }
}

.form__radio-input:disabled + label,
.form__checkbox-input:disabled + label {
  opacity: 0.3;
}

.form__radio-input + label::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -40px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid @special_grey;

  @media (min-width: @tablet) {
    width: 40px;
    height: 40px;
    top: -5px;
    left: -50px;
  }
}

.form__radio-input:checked + label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: -32px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: @basic_green;

  @media (min-width: @tablet) {
    top: 6px;
    left: -39px;
    width: 18px;
    height: 18px;
  }
}

.form__input {
  width: 100%;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  border: 1px solid @special_grey-7;
  color: @special_dark-grey;
  box-sizing: border-box;
  text-transform: uppercase;
  padding: 13px 12px 13px 15px;

  @media (min-width: @tablet) {
    font-size: 20px;
    line-height: 30px;
    padding: 10px 20px;
  }

  &--textarea {
    height: 150px;
    resize: none;
  }

  @media (min-width: @desktop) {
    &:hover {
      border-color: @special_grey;
    }
  }

  &:focus {
    outline: 2px solid @special_dark-grey;
    outline-offset: -2px;
    // border: 2px solid @special_dark-grey;
  }

  &:invalid {
    outline-color: @status_error;
  }

  &:focus + svg line,
  &:focus + svg path {
    stroke: @basic_green;
  }

  &:invalid + svg line,
  &:invalid + svg path {
    stroke: @status_error;
  }
}

.form__subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  margin-left: 0;
  padding: @mobile-padding;
  width: min-content;
  background-color: @basic_white;
  white-space: nowrap;
  box-sizing: border-box;

  @media (min-width: @tablet) {
    font-size: 36px;
    line-height: 36px;
    padding: @tablet-form-padding;
    padding-left: 30px;
    margin-left: 40px;
  }

  @media (min-width: @desktop) {
    margin: 0 auto;
    width: @desktop;
    padding: 0;
    padding-left: 40px;
    background-color: transparent;

    &--contacts {
      background-image: linear-gradient(to right, @basic_white 0, @basic_white 593px, transparent 593px, transparent 100%);
    }

    &--message {
      background-image: linear-gradient(to right, @basic_white 0, @basic_white 259px, transparent 259px, transparent 100%);
    }

    &--optional {
      background-image: linear-gradient(to right, @basic_white 0, @basic_white 292px, transparent 292px, transparent 100%);
    }
  }

  & br {
    @media (min-width: @tablet) {
      display: none;
    }
  }
}

.form__subtitle-wrapper {
  width: 100%;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    top: 16px;
    background-color: @basic_green;
    z-index: -1;

    @media (min-width: @tablet) {
      top: 20px;
    }
  }
}

.form__message {
  margin: 37px auto 23px auto;
  padding: @mobile-padding;

  @media (min-width: @tablet) {
    margin: 76px auto 65px auto;
    padding: @tablet-form-padding;
  }

  @media (min-width: @desktop) {
    width: @desktop-content;
    padding: 0;
  }
}

.form__button {
  @media (min-width: @tablet) {
    width: 100%;
    margin: 0;
  }
}

.form__button-wrapper {
  @media (min-width: @tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    padding: @tablet-form-padding;
    margin: 0 auto;
  }

  @media (min-width: @desktop) {
    width: @desktop-content;
    gap: 80px;
    padding: 0;
  }
}

.form__input-svg {
  position: absolute;

  &--mail {
    right: 15px;
    top: 15px;

    @media (min-width: @tablet) {
      top: 18px;
    }
  }

  &--phone {
    top: 12px;
    right: 13px;
  }

  @media (min-width: @tablet) {
    top: 17px;
  }
}
