.main-nav {
  margin: 0;
  z-index: 10;

  @media (max-width: @mobile-width-only) {
    &--open {
      position: absolute;
      width: 100%;
      background-color: @basic_white;
    }

    &--close {
      display: none;
    }

    &--nojs {
      display: block;
    }
  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    width: 440px;
  }

  @media (min-width: @desktop-breakpoint-width) {
    width: 478px;
  }
}

.main-nav__item {
  width: 100%;
  border-top: 1px solid @special_grey-4;

  @media (min-width: @tablet-width) {
    width: min-content;
    border-top: none;
  }
}

.main-nav__link {
  display: block;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: @basic_black;
  margin: 0 auto;
  padding: 22px 0 24px 0;
  white-space: nowrap;
  position: relative;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400px;
    padding: 0;

    &:hover:not(.main-nav__link--active) {
      opacity: 0.6;
    }

    &:active:not(.main-nav__link--active) {
      opacity: 0.3;
    }
  }

  &--active::after {
    @media (min-width: @tablet-width) {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      bottom: -6px;
      background-color: @basic_green;
    }

    @media (min-width: @desktop-breakpoint-width) {
      background-color: @basic_white;
    }
  }
}
