.page-footer {
  background-color: @basic-grey;
  margin: 0;
}

.page-footer__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding: @mobile-padding;

  @media (min-width: @tablet) {
    flex-direction: row;
    justify-content: space-between;
    min-height: 150px;
    padding: @tablet-padding;
  }

  @media (min-width: @desktop) {
    width: @desktop-content;
    padding-left: 0;
    padding-right: 0;
  }
}

.page-footer__logo {
  margin: 39px 0 29px 0;

  @media (min-width: @tablet) {
    margin: 0;
  }

  @media (min-width: @desktop-content) {
    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}
