.page-header {
  width: 100%;
  box-sizing: border-box;
  min-height: 65px;
  margin: 0 auto;
  outline: 2px solid @status_error;
  outline-offset: -2px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 54px;
    padding: @tablet-padding;
    padding-top: 24px;
  }

  @media (min-width: @desktop-breakpoint-width) {
    width: @desktop-width;
    padding: 0;
    min-height: 56px;
    padding-top: 53px;
    z-index: 5;
    padding-left: 0;
    padding-right: 0;
  }
}

.page-header__toggle {
  display: block;
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.page-header__toggle--nojs {
  display: none;
}

.page-header__toggle--close::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  width: 24px;
  height: 2px;
  background: @basic_black;
  box-shadow: 0 8px 0 0 @basic_black, 0 16px 0 0 @basic_black;
}

.page-header__toggle--open {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 18px;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: @basic_black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.page-header__row-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 17px 20px;

  @media (min-width: @tablet-width) {
    display: block;
    padding: 0;
  }
}

.page-header__logo {
  display: flex;
  align-items: center;
  gap: 57px;
  cursor: pointer;

  @media (min-width: @desktop-breakpoint-width) {
    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}
