.page-header {
  // width: 320px;
  width: 100%;
  min-height: 65px;
  box-sizing: border-box;
  margin: 0 auto;
  outline: 2px solid @status_error;
  outline-offset: -2px;

  @media (min-width: @tablet-width) {
    // width: 768px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 78px;
    padding: @tablet-padding;
    padding-top: 24px;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    min-height: 109px;
    padding: @desktop-padding;
    padding-top: 53px;
  }
}

.page-header__toggle {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.page-header__row-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 17px 20px;

  @media (min-width: @tablet-width) {
    display: block;
    padding: 0;
  }
}

.page-header__logo {
  display: flex;
  align-items: center;
  gap: 57px;
}
