.page-header {
  width: 320px;
  min-height: 65px;
  box-sizing: border-box;
  margin: 0;
  outline: 2px solid @status_error;
  outline-offset: -2px;

  &__row-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 17px 20px;
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 57px;
  }
}
