.present {
  margin: 0;
  margin-top: 36px;
  padding: 58px 20px 43px 20px;
  background-color: @basic_green;

  &__img {
    display: block;
    margin: 0 auto;
  }

  &__text {
    font-family: "Arial", "Helvetica", sans-serif;
    text-align: center;
    width: 165px;
    margin: 48px auto 0 auto;
    font-size: 16px;
    line-height: 20px;
    color: @basic_white;
  }
}
