.product-card {
  margin: 0 auto;
  padding: 20px 0 25px 0;
  border-bottom: 1px solid @special_grey-4;

  &--last {
    display: block;
  }
}

.product-card__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 13px;
  width: 280px;
  margin: 0 auto;
}

.product-card__description {
  margin: 0;
  min-height: 112px;
}

.product-card__img {
  display: block;
  margin: auto;
}

.product-card__title {
  width: 80px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: @tablet-width) {
    width: 175px;
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    width: 145px;
    line-height: 21px;
  }

  &--last {
    width: 100%;
    text-align: center;
    margin-top: 23px;

    @media (min-width: @tablet-width) {
      width: 135px;
      margin: 49px auto 0 auto;
      line-height: 22px;
    }
  }
}

.product-card__table {
  width: 100%;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: @special_dark-grey;
  margin: 0;
  margin-top: 18px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    margin-top: 21px;
  }
}

.product-card__table td {
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    border-bottom: 1px solid @special_grey;
  }
}

.product-card__button {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;

  &--last {
    background-color: @basic_grey;
    color: @special_dark-grey;
    margin-top: 21px;
  }
}

.product-card__table-value {
  text-align: right;
}

.product-card__icon {
  display: block;
  margin: 0 auto;
}

.product-card__text {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: @special_dark-grey;
  text-align: center;
  margin: 0;
  margin-top: 8px;

  @media (min-width: @tablet-width) {
    margin-top: 23px;
  }
}
