.programs {
  padding: @mobile-padding;
  margin: 0 auto;
  margin-top: 22px;

  @media (min-width: @tablet) {
    padding: @tablet-padding;
    margin-top: 0;
  }

  @media (min-width: @desktop) {
    width: @desktop-content;
    margin-top: 82px;
    padding-left: 0;
    padding-right: 0;
  }
}

.programs__title-wrapper {
  display: flex;
  gap: 20px;

  @media (min-width: @tablet) {
    display: block;
  }

  @media (min-width: @desktop) {
    display: flex;
    align-items: center;
    gap: 62px;
  }
}

.programs__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 18px;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet) {
    gap: 30px;
  }

  @media (min-width: @desktop) {
    flex-direction: row;
    gap: 80px;
  }
}

.programs__item {
  min-height: 266px;
  width: 100%;
  padding: @mobile-padding;
  padding-top: 23px;
  padding-bottom: 22px;
  box-sizing: border-box;
  background-color: @basic-grey;
  margin: 0 auto;

  @media (min-width: @tablet) {
    min-height: 372px;
    box-sizing: border-box;
    padding: 77px 316px 53px 52px;
    position: relative;
  }

  @media (min-width: @desktop) {
    width: 570px;
    padding: 47px 51px 55px 52px;
  }
}

.programs__icon-background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: @basic-green;

  @media (min-width: @tablet) {
    position: absolute;
    right: 62px;
    top: 90px;
    width: 200px;
    height: 200px;
  }

  @media (min-width: @desktop) {
    position: static;
    width: 100px;
    height: 100px;
  }
}

.programs__img {
  position: absolute;

  &--slim {
    width: 36px;
    height: 50px;

    @media (min-width: @tablet) {
      width: 140px;
      height: 194px;
      top: -10px;
    }

    @media (min-width: @desktop) {
      width: 70px;
      height: 97px;
      top: 40px;
    }
  }

  &--pro {
    width: 67px;
    height: 28px;

    @media (min-width: @tablet) {
      width: 268px;
      height: 112px;
    }

    @media (min-width: @desktop) {
      width: 134px;
      height: 56px;
    }
  }
}

.programs__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 7px;

  @media (min-width: @tablet) {
    font-size: 36px;
    line-height: 36px;
    margin: 0;
  }
}

.programs__text {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: @special-dark-grey;
  margin: 0;
  margin-top: 24px;
  padding-bottom: 23px;
  border-bottom: 1px solid @special-grey-6;

  @media (min-width: @tablet) {
    font-size: 16px;
    line-height: 24px;
    padding: 0;
    border: none;
  }

  @media (min-width: @desktop) {
    width: auto;
    margin-top: 39px;
  }
}

.programs__link {
  display: block;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: @basic-black;
  padding-top: 18px;
  margin: 0;
  position: relative;
  cursor: pointer;

  @media (min-width: @tablet) {
    font-size: 20px;
    line-height: 30px;
    padding: 0;
    margin-top: 50px;
  }

  @media (min-width: @desktop) {
    margin-top: 27px;

    &:active {
      opacity: 0.3;
    }
  }

  &::after {
    content: "";
    position: absolute;
    margin-left: 15px;
    top: 50%;
    margin-top: 3px;
    width: 32px;
    height: 12px;
    background-image: url("../img/programs/icon_programs_arrow.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    @media (min-width: @tablet) {
      margin-top: -4px;
      margin-left: 25px;
    }

    @media (min-width: @desktop) {
      margin-top: -7px;
      margin-left: 28px;
    }
  }

  &:hover::after {
    @media (min-width: @desktop) {
      transform: scaleX(1.33);
      margin-left: 21px;
    }
  }
}
