.promo {
  margin: 0 auto;
  position: relative;

  @media (min-width: @desktop) {
    min-height: 696px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: -112px;
    padding: 0;
  }
}

.promo__content-wrapper {
  display: flex;
  flex-direction: column;
  padding: @mobile-padding;
  margin: 0 auto;

  @media (min-width: @tablet) {
    padding: @tablet-padding;
  }

  @media (min-width: @desktop) {
    width: 530px;
    padding-left: 0;
    padding-right: 0;
    margin: 109px 0 0 auto;
  }
}

.promo__background-wrapper {
  height: 302px;
  width: 100%;
  background-image: url("../img/promo/promo-background-mobile.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: @special-green-1;
  position: absolute;
  top: 0;
  z-index: -1;
  margin: 0;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/promo/promo-background-mobile@2x.png");
  }

  @media (min-width: @tablet) {
    display: none;
  }

  @media (min-width: @desktop) {
    background-image: url("../img/promo/promo-background-desktop.png");
    background-color: @special-green-1;
    background-position: left;
    display: block;
    height: 100%;
    position: static;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promo/promo-background-desktop@2x.png");
    }
  }
}

.promo__background-wrapper img {
  display: block;
  z-index: -2;
}

.promo__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: @basic-white;
  margin: 0;
  padding-top: 27px;

  @media (min-width: @tablet) {
    font-size: 60px;
    line-height: 60px;
    color: @basic-black;
    text-align: left;
    z-index: 1;
  }

  @media (min-width: @desktop) {
    margin-left: 0;
  }
}

.promo__slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: @basic-white;
  margin: 0;
  margin-top: 25px;

  @media (min-width: @tablet) {
    font-size: 20px;
    line-height: 20px;
    color: @basic-black;
    text-align: left;
    margin-top: 41px;
    z-index: 1;
  }

  @media (min-width: @desktop) {
    margin-left: 0;
  }
}

.promo__img {
  display: block;
  width: 280px;
  height: 270px;
  margin: 29px auto 0 auto;

  @media (min-width: @tablet) {
    width: 709px;
    height: 609px;
    margin-top: -83px;
  }

  @media (min-width: @desktop) {
    width: 552px;
    height: 499px;
    position: absolute;
    left: 50%;
    top: 141px;
    z-index: 1;
    margin: 0;
    margin-left: -162px;
  }
}

.promo__button {
  line-height: 18px;
  font-size: 14px;
  padding: 11px 0 11px 0;
  margin-top: 3px;

  @media (min-width: @tablet) {
    margin: 47px auto 0 0;
    z-index: 1;
  }
}

.promo picture {
  @media (min-width: @tablet) {
    order: 4;
  }
}
